packages/OpenGL.Net.WinForms.0.8.4/lib/net461/OpenGL.Net.WinForms.xml
packages/OpenGL.Net.WinForms.0.8.4/lib/net461/OpenGL.Net.WinForms.pdb
packages/OpenGL.Net.WinForms.0.8.4/lib/net461/OpenGL.Net.WinForms.dll
packages/OpenGL.Net.WinForms.0.8.4/lib/net35/OpenGL.Net.WinForms.xml
packages/OpenGL.Net.WinForms.0.8.4/lib/net35/OpenGL.Net.WinForms.pdb
packages/OpenGL.Net.WinForms.0.8.4/lib/net35/OpenGL.Net.WinForms.dll
packages/OpenGL.Net.WinForms.0.8.4/OpenGL.Net.WinForms.0.8.4.nupkg
packages/OpenGL.Net.WinForms.0.8.4/.signature.p7s
packages/OpenGL.Net.0.8.4/lib/net461/OpenGL.Net.xml
packages/OpenGL.Net.0.8.4/lib/net461/OpenGL.Net.pdb
packages/OpenGL.Net.0.8.4/lib/net461/OpenGL.Net.dll
packages/OpenGL.Net.0.8.4/lib/net35/OpenGL.Net.xml
packages/OpenGL.Net.0.8.4/lib/net35/OpenGL.Net.pdb
packages/OpenGL.Net.0.8.4/lib/net35/OpenGL.Net.dll
packages/OpenGL.Net.0.8.4/lib/monoandroid/OpenGL.Net.xml
packages/OpenGL.Net.0.8.4/lib/monoandroid/OpenGL.Net.dll
packages/OpenGL.Net.0.8.4/OpenGL.Net.0.8.4.nupkg
packages/OpenGL.Net.0.8.4/.signature.p7s
packages/HelixToolkit.Wpf.2.14.0/lib/net45/HelixToolkit.Wpf.XML
packages/HelixToolkit.Wpf.2.14.0/lib/net45/HelixToolkit.Wpf.dll
packages/HelixToolkit.Wpf.2.14.0/README.md
packages/HelixToolkit.Wpf.2.14.0/LICENSE
packages/HelixToolkit.Wpf.2.14.0/HelixToolkit.Wpf.2.14.0.nupkg
packages/HelixToolkit.Wpf.2.14.0/helixtoolkit.png
packages/HelixToolkit.Wpf.2.14.0/CONTRIBUTORS
packages/HelixToolkit.Wpf.2.14.0/AUTHORS
packages/HelixToolkit.Wpf.2.14.0/.signature.p7s
packages/HelixToolkit.2.14.0/lib/netstandard1.1/HelixToolkit.xml
packages/HelixToolkit.2.14.0/lib/netstandard1.1/HelixToolkit.dll
packages/HelixToolkit.2.14.0/README.md
packages/HelixToolkit.2.14.0/LICENSE
packages/HelixToolkit.2.14.0/helixtoolkit.png
packages/HelixToolkit.2.14.0/HelixToolkit.2.14.0.nupkg
packages/HelixToolkit.2.14.0/CONTRIBUTORS
packages/HelixToolkit.2.14.0/AUTHORS
packages/HelixToolkit.2.14.0/.signature.p7s
3d_obj_DrawForm/obj/Debug/_3d_obj_DrawForm.Properties.Resources.resources
openGL_form/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
3d_obj_DrawForm/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
openGL_form/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
3d_obj_DrawForm/obj/Debug/3D_GUI.g.i.cs
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm.csproj.CopyComplete
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm.csproj.CoreCompileInputs.cache
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm.csproj.FileListAbsolute.txt
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm.csproj.GenerateResource.cache
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm.csprojAssemblyReference.cache
3d_obj_DrawForm/bin/Debug/3d_obj_DrawForm.dll
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm.dll
openGL_form/bin/Debug/3d_obj_DrawForm.dll
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm.g.resources
3d_obj_DrawForm/bin/Debug/3d_obj_DrawForm.pdb
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm.pdb
openGL_form/bin/Debug/3d_obj_DrawForm.pdb
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm_MarkupCompile.cache
3d_obj_DrawForm/obj/Debug/3d_obj_DrawForm_MarkupCompile.i.cache
3d_obj_DrawForm/obj/Debug/AssemblyReference.cache
3d_obj_DrawForm/obj/Debug/DesignTimeResolveAssemblyReferences.cache
openGL_form/obj/Debug/DesignTimeResolveAssemblyReferences.cache
3d_obj_DrawForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
openGL_form/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
3d_obj_DrawForm/obj/Debug/GUI_3D.baml
3d_obj_DrawForm/obj/Debug/GUI_3D.g.cs
3d_obj_DrawForm/obj/Debug/GUI_3D.g.i.cs
3d_obj_DrawForm/bin/Debug/HelixToolkit.dll
3d_obj_DrawForm/bin/Debug/HelixToolkit.Wpf.dll
openGL_form/bin/Debug/HelixToolkit.Wpf.dll
3d_obj_DrawForm/bin/Debug/HelixToolkit.Wpf.xml
openGL_form/bin/Debug/HelixToolkit.Wpf.xml
3d_obj_DrawForm/bin/Debug/HelixToolkit.xml
openGL_form/obj/Debug/openGL_form.csproj.CopyComplete
openGL_form/obj/Debug/openGL_form.csproj.CoreCompileInputs.cache
openGL_form/obj/Debug/openGL_form.csproj.FileListAbsolute.txt
openGL_form/obj/Debug/openGL_form.csproj.GenerateResource.cache
openGL_form/obj/Debug/openGL_form.csprojAssemblyReference.cache
openGL_form/bin/Debug/openGL_form.exe
openGL_form/obj/Debug/openGL_form.exe
openGL_form/bin/Debug/openGL_form.exe.config
openGL_form/obj/Debug/openGL_form.Form1.resources
openGL_form/bin/Debug/openGL_form.pdb
openGL_form/obj/Debug/openGL_form.pdb
openGL_form/obj/Debug/openGL_form.Properties.Resources.resources
3d_obj_DrawForm/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
openGL_form/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
3d_obj_DrawForm/bin/Debug/System.Numerics.Vectors.dll
openGL_form/bin/Debug/System.Numerics.Vectors.dll
3d_obj_DrawForm/obj/Debug/UserControl1.g.i.cs
packages/System.Numerics.Vectors.4.5.0/.signature.p7s
packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.5.0/LICENSE.TXT
packages/System.Numerics.Vectors.4.5.0/System.Numerics.Vectors.4.5.0.nupkg
packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.Numerics.Vectors.4.5.0/useSharedDesignerContext.txt
packages/System.Numerics.Vectors.4.5.0/version.txt
3d_obj_DrawForm/bin/Debug/System.Numerics.Vectors.xml
openGL_form/bin/Debug/System.Numerics.Vectors.xml
packages/
openGL_form/bin/
3d_obj_DrawForm/bin/Debug/Cyotek.Drawing.BitmapFont.dll
3d_obj_DrawForm/bin/
